* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: rgb(252, 247, 247);
}

h1{
    text-align: center;
    font-weight: 700;
}

#topico > h1 {
    text-align: center;
    text-decoration: bold;
    font-weight: 600;
}
h2{
    background-color: rgb(11, 11, 172);
    color: #fff;
    padding: 40px;
    margin: 15px 0px 0px 0px;
    text-align: center;
    border: 0px;
}
#combos{
    display: grid;
    justify-content: space-around; 
    place-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px 100px 100px 100px;
    grid-gap: 30px;
}

 h3{
    text-align: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

h4{
    font-size: 20px;
    text-align: center;
    color: darkblue;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.rodape{
    max-width: 1200px;
    margin: 0 auto;
}

.itens {
list-style: none;
margin: 0;
}
.itens, a {
    text-decoration: none;
    color: #fff;
}
